@model SignalRWebApp.Models.TaiXe

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row panel panel-default">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Tài xế: @Model.HoTen</h3>

            </div>
            <div class="panel-body ">
                <div class="col-sm-12">
                    <div class="col-sm-12 text-center">
                        <a class="btn btn-primary" href="javascript:void(0)">@Model.HoTen</a>
                    </div>
                    <dl class="dl-horizontal col-sm-6">
                        <dt>Lat: </dt>
                        <dd> @Html.DisplayFor(model => model.Lat)</dd>
                    </dl>
                    <dl class="dl-horizontal col-sm-6">
                        <dt>Lng: </dt>
                        <dd> @Html.DisplayFor(model => model.Lng)</dd>
                    </dl>
                </div>
            </div>

            <div id="viewNotification">
                <ul id="lstChat"></ul>

            </div>
        </div>
    </div>
</div>


@section scripts {

    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript">
        $(function () {
            var chatHub = $.connection.chatHub;

            chatHub.client.notifyMessage = function (userName, message) {

                $('#lstChat').append(
                    '<li>' + userName + ':' + message + '</li>');

            };
            chatHub.client.notifyForSomeOne = function (message) {

                var action = myFunction(message);
                function myFunction(message) {
                    var txt;
                    var r = confirm("Có khách: \n \n Chọn \'OK\' để nhận -  \' Cancel\' Từ chối");
                    if (r == true) {
                        txt = "Chấp nhận";
                    } else {
                        txt = "Từ chối";
                    }
                    return txt
                    document.getElementById("demo").innerHTML = txt;
                    
                }
                $('#lstChat').append("<li> Có khách: " + message + "</li> <li>- Bạn vừa: " + action + " </li>");
            };

            $.connection.hub.start().done(function () {
                chatHub.server.connect('@Model.id');
            });

        });
    </script>
}
