@model SignalRWebApp.Models.TaiXe

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row panel panel-default">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Tài xế: @Model.HoTen</h3>

            </div>
            <div class="panel-body ">
                <div class="col-sm-12">
                    <div class="col-sm-12 text-center">
                        <a class="btn btn-primary" href="javascript:void(0)">@Model.HoTen</a>
                    </div>
                    <dl class="dl-horizontal col-sm-6">
                        <dt>Lat: </dt>
                        <dd> @Html.DisplayFor(model => model.Lat)</dd>
                    </dl>
                    <dl class="dl-horizontal col-sm-6">
                        <dt>Lng: </dt>
                        <dd> @Html.DisplayFor(model => model.Lng)</dd>
                    </dl>
                </div>
            </div>

            <div id="viewNotification">
                <ul id="lstChat"></ul>

            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Khách hàng</h4>
            </div>
            <div class="modal-body">
                <p id="myMess"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Từ chối</button>
                <button type="button" class="btn btn-primary">Chấp nhận</button>
            </div>
        </div>
    </div>
</div>


@section scripts {


    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript">
        $(function () {
            var chatHub = $.connection.chatHub;

            chatHub.client.notifyMessage = function (userName, message) {

                $('#lstChat').append(
                    '<li>' + userName + ':' + message + '</li>');

            };
            chatHub.client.notifyForSomeOne = function (message) {

                //var action = myFunction(message);
                alert("Có khách!!!!");
                //function myFunction(message) {
                //    var txt;
                //    var r = confirm("Có khách!!!!");
                //    if (r == true) {
                //        txt = "Chấp nhận";
                //    } else {
                //        txt = "Từ chối";
                //    }
                //    return txt
                //    document.getElementById("demo").innerHTML = txt;

                //}
                $("#myMess").append("<h3> Có khách: " + message + "</h3>");
                $('#myModal').modal('show');
                $('#lstChat').append("<li> Có khách: " + message + "</li>");

            };

            $.connection.hub.start().done(function () {
                chatHub.server.connect('@Model.id');
            });

        });
        $(document).ready(function () {

            // Attach Button click event listener 
            $("#myBtn").click(function () {

                // show Modal
                $('#myModal').modal('show');
            });
        });
    </script>
}
